/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}

/* MAIN STYLES */

body{
    background: #fff;
    font-size: 16px;
}

.header,
.content,
.footer{
    position: relative;
    width: 100%;
}

/* GLOBAL */
h1,
h2,
h3,
a,
ul,
li{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding: 0;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2.25em;
}

h3{
    font-size: 1.5em;
}

p{
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 24px;
}
a{
    text-decoration: none;
    border-bottom: 1px solid;
    color: black;
    transition: 0.5s ease-in-out;
}

a:hover{
    color: red;
}

/* BIG BLOCKS */

/* WRAPPER */
.wrapper{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px;
}

.header,
.content{
    margin: 0 0 48px 0;
}

/* HEADER */
.header{
    background: #ccc;
    margin-top: 72px;
    border-radius: 24px;
    overflow: hidden;
}

.main_menu{
    position: fixed;
    width: 100%;
    height: 48px;
    background: rgba(255, 196, 0, 0.9);
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}

.kv_00{
    position: relative;
    width: 100%;
    height: 560px;
    background: url(../i/kv_back.png);
    overflow: hidden;
}

.kv_00 img{
    width: 100%;
    vertical-align: top;
    display: inline;
}

/* CONTENT */
.content{
}

/* FOOTER */
.footer{
    padding: 12px 0;
    /* background: #666; */
}


/* MEDIUM BLOCKS */
/* CARDS */
.main_menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 0;
}

.main_menu ul li{
    margin: 0 24px;
    color: red;
}

.cards_holder{
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    position: relative;
    width: 33%;
    /* height: 512px; */
    text-align: center;
    overflow: hidden;
    transition: 1s ease-in-out;
}

.card img{
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline;
    animation: ease-in-out;
    vertical-align: top;
    display: inline-block;
    transition: 2s ease-in-out;
    transform: scale(1);
}

.card:hover img{
    
    transform: scale(1.1);
    
}

/* SMALL BLOCKS */

.header_text{
    position: absolute;
    width: 30%;
    left: 48px;
    top: 48px;
    right: 48px;
    z-index: 3;
}

.header_image{
    position: absolute;
    width: 708px;
    height: 406px;
    right: 48px;
    bottom: 0;
    background-image: url(../i/kv_img.png);
}

.caption{
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0;
    padding: 24px 12px;
    z-index: 10;
    transition: 0.2s ease-in-out;
    transform: translateY(100px);
}

.portfolio_image_holder{
    position: relative;
    width: 700px;
    margin: 0 auto 48px auto;
}
.portfolio_image_holder img{
    width: 100%;
    box-shadow: 0 25px 48px rgba(0,0,0,0.2);
}

.card:hover .caption{
    transform: translateY(0);
}

.facebook{
    color: rgb(66,103,178);
}

.linkedin{
    color: #000;
}

@media only screen and (max-width: 960px) {
    .kv_00{
        height: 650px;
    }
    .header_text{
        width: 80%;
    }
    .card{
        width: 50%;
    }
    .caption{
        transform: translateY(0);
    }
}

@media only screen and (max-width: 750px) {
    .kv_00{
        height: 250px;
    }
    .header_image{
        display: none;
    }
    .header_text{
        width: 80%;
    }
    .card{
        width: 100%;
    }
    .caption{
        transform: translateY(0);
    }
    .portfolio_image_holder{
        width: 400px;
    }
}

